@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Questrial&family=Sriracha&display=swap');
@font-face {
    font-family: myfont;
    src: url('./assets/Font/custom.ttf');
}
/* ==============ALL THE HOME PAGE CSS WRITE HERE====================== */


:root{
    --primary-font: 'Manrope', sans-serif;
    --heading-font: 'Darker Grotesque', sans-serif;
    --primary-color: #92278F!important;
    --dark: #171923;
    --bg-dark: #040e41;
    --white: #e2e8f0;
    --primary-blue: #05ACF3;
    --gradient:linear-gradient(115deg,#04ADF4 .9554140127388535%,#FFDD0A, #ED151D 140%);
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}
.header-wrapper{
  background-image: url('./assets/grap-paper.png');
  background-position: center center;
  background-repeat:repeat;
  padding:0;
  /* background-color:rgb(11, 25, 43) */
}
.shape-1{
  --tw-blur: blur(24px);
    background-color: var(--primary-blue);
    border-radius: 50%;
    -webkit-filter: blur(50px);
    height: 280px;
    position: absolute;
    left: -15%;
    top: 30%;
    width: 280px;
    opacity: .2;
}
.shape-2 .rotate-img{
  width:7rem;
  height: 7rem;
  position: absolute;
  right:2%;
  top:5%;
  animation: rotate 6s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-bg{
  background-image: url('./assets/raectlight.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar-expand-lg{
  padding:0;
}
.logo{
  width: 14rem;
  padding-top:.8rem;
}
.menu-button{
  display: none;
}
.navbar-expand-lg{
  background-color: #ddd;
}
.navbar-expand-lg .navbar-collapse{
  flex-direction: column;
}
.nav-info-wrapper{
  /* width:20rem; */
}
.nav-info-bg{
  background-color: var(--primary-color);
  background: var(--gradient);
}
.nav-info-wrapper .single-nav-info{
  color: #fff;
    margin-right: 33px;
    font-size: 13px;
    font-family: var(--primary-font);
    font-weight: 600;
    padding: 6px 16px;
}
.nav-info-wrapper .single-nav-info p{
  margin:0;
}
.nav-wrapper{
  background-color: #fff;
  box-shadow: rgba(195, 233, 249, 0.4) 5px 3px, rgba(166, 190, 200, 0.3) 10px 6px, rgba(201, 210, 214, 0.2) 15px 10px,rgb(5, 173, 243, .1) 20px 13px, rgb(199, 222, 232, .05) 25px 16px;
  background-color: #28365e;
}
.other-page-nav-wrapper .nav-wrapper{
  box-shadow: none;
}
.other-page-nav-wrapper{
  background-color: #fff;
}
.nav-link-wrapper a{
  padding:.4rem ;
  display: inline-block;
  padding: 11px 15px;
  color: #ecebeb;
    display: block;
    font-family: var(--primary-font);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    
}
.nav-link-wrapper .active{
  color:var(--primary-blue)
}

.nav-drowdown-wrapper{
  width:250px;
  background-color: #fff;
  position: absolute;
  padding-left:0;
  margin-top:.8rem;
  display: none;
  z-index: 1;
}
.dropdown-service:hover .nav-drowdown-wrapper{
  display: block;
}
.nav-drowdown-wrapper li{
  list-style: none;
  border-top:1px solid #ddd;
}
.nav-drowdown-wrapper li:hover{
  background-color: var(--primary-blue);
  color:#fff;
}
.nav-drowdown-wrapper li a{
  font-size: 14px;
  background-color: #273A61;
}
.nav-drowdown-wrapper li:hover a{
  color:#fff;
  background-color: var(--primary-blue);
}

.header-padding{
  padding:0 3rem;
}
.header-under-wrapper{
  padding-top:2.7rem;
  padding-bottom:5.7rem;
}

.header-left-part-wrapper{
  padding-top:3rem;
}
/* .header-left-part-wrapper h1{
  font-size: 36px;
  font-weight: 700;
  font-family: var(--heading-font);
  margin-bottom:2.7rem;
  background: linear-gradient(91.16deg,#8B01FF 20.11%,#F3A632 87.29%,#fc6fd9 143.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
.header-left-part-wrapper h1
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #C62A2E 0%,
    #89B56C 29%,
    #FFB94D 67%,
     #04AFF5 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 65px;
      font-family: myfont;
      font-weight: 600;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.header-left-part-wrapper p{
  font-size: 19px;
  line-height: 22px;
  color:#ecebeb;
}
.header-right-part img{
  width:60%;
}
.header-left-part-wrapper .button a{
  display: inline-block;
  width:8rem;
  padding:.8rem 1rem;
  background-color: var(--primary-color);
  color:#fff;
  border-radius: 5rem;
  text-decoration: none;
  margin-top:1.4rem; 
}



.header-services-wrapper{
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.single-header-services{
  padding:1rem 0;
}
.single-header-services h5{
  margin-bottom:0;
}
.single-header-services a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

/* ======================HEADER CODE SYNTEXT CSS ===================== */

.header-right-part{
  position: relative;
}
.header-right-part .header-right-shape-1{
  --tw-blur: blur(24px);
  background-color: #05AEF4;
  border-radius: 0%;
  -webkit-filter: blur(40px);
  position: absolute;
  left: -15%;
  top: 30%;
  width: 80px;
  height:400px;
  left:70%;
  rotate: -45deg;
  top:-20%;
  opacity: .2;
}
.amaito-jsx{
  width:10rem;
  align-items: center;
  padding:6px;
  border:2px solid #dddddd2a;
  margin-bottom:-10px;
  border-radius: 7px 7px 0 0;
}
.amaito-jsx img{
  width:1rem;
  height:1rem;
}
.amaito-jsx span{
  font-size: 14px;
  padding-left:10px;
  color:#ecebeb;
}
.typewrighter-code-section{
  text-align: left;
}
pre{
  background-color: inherit!important;
  border:2px solid #dddddd2a;
  border-radius: 0px 10px 10px 10px;
  padding-left:0px!important;
  padding-bottom:1rem!important;
}
pre code span:nth-child(3), pre code span:nth-child(18), pre code span:nth-child(31), pre code span:nth-child(34), pre code span:nth-child(45), pre code span:nth-child(65), pre code span:nth-child(81), pre code span:nth-child(91), pre code span:nth-child(96), pre code span:nth-child(103), pre code span:nth-child(109), pre code span:nth-child(125), pre code span:nth-child(131), pre code span:nth-child(136), pre code span:nth-child(141){
  color:#dddddd57!important
}
pre code span{
  font-size: 14px!important;
  line-height: 1.25rem!important;
}
pre code span:nth-child(120){
  padding:2px;
  background-color: #1990B8;
  color:#fff;
  border-radius: 5px;
}
pre code span:nth-child(55), pre code span:nth-child(71), pre code span:nth-child(76), pre code span:nth-child(86){
  background: inherit!important;
}
pre code span:nth-child(5), pre code span:nth-child(13), pre code span:nth-child(20), pre code span:nth-child(26), pre code span:nth-child(36), pre code span:nth-child(47), pre code span:nth-child(67), pre code span:nth-child(98), pre code span:nth-child(143), pre code span:nth-child(145) {
  color:var(--primary-blue)!important;
}

pre code span:nth-child(7),pre code span:nth-child(9), pre code span:nth-child(11),pre code span:nth-child(22), pre code span:nth-child(23), pre code span:nth-child(24), pre code span:nth-child(39), pre code span:nth-child(40), pre code span:nth-child(42), pre code span:nth-child(49), pre code span:nth-child(50), pre code span:nth-child(51), pre code span:nth-child(52), pre code span:nth-child(53), pre code span:nth-child(58), pre code span:nth-child(62), pre code span:nth-child(74), pre code span:nth-child(73), pre code span:nth-child(78), pre code span:nth-child(84), pre code span:nth-child(86), pre code span:nth-child(87), pre code span:nth-child(88), pre code span:nth-child(90), pre code span:nth-child(93), pre code span:nth-child(100), pre code span:nth-child(7), pre code span:nth-child(105), pre code span:nth-child(107), pre code span:nth-child(110), pre code span:nth-child(115), pre code span:nth-child(117), pre code span:nth-child(119), pre code span:nth-child(121), pre code span:nth-child(123), pre code span:nth-child(126), pre code span:nth-child(128), pre code span:nth-child(133), pre code span:nth-child(138), pre code span:nth-child(147){
  color:#ecebeb!important
}


pre code span:nth-child(60), pre code span:nth-child(106), pre code span:nth-child(111), pre code span:nth-child(114), pre code span:nth-child(116), pre code span:nth-child(122), pre code span:nth-child(127){
  color:rgb(250, 82, 82)!important
}







  /* ====================HEADER PART END ===================== */
  /* =================COUNTER SECTION START =================== */
.countdown-wrapper{
  background-image: url('./assets/test1.png');
  background-position: center center;
  background-size: cover;
}
.counter-main-section{
  padding:4rem 2rem;
}
.counter-main-section h2{
  font-size: 30px;
  font-weight: 700;
}
.counter-main-section .col-md-8{
  padding:0 3rem;
}
.coundown-single-item{
  color: #F6F4F3;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  margin-top: 30px;
  font-weight: 500;
  height: 7.5rem;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .7rem;
}
.coundown-single-item h5{
  font-size: 1rem;
  font-weight: 400;
  margin-top:1rem;
}
.coundown-single-item span{
  font-size: 2rem;
  font-weight: 700;
}
.countdown-button div a{
  font-size: .9rem;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  margin-right:1.6rem;
  margin-top:3rem;
  border-radius: 25px;
    padding: 12px 20px;
}
.countdown-button div a:hover{
  border-bottom: 2px solid #000;
}


  /* ==============SECTION ONE / OUR SERVICES PART START ====================== */

.section-2-wrapper{
  padding:8rem 0;
}
.section-2-wrapper .service-single-item .service-image-wrapper{
  width:125px;
  height: 125px;
  text-align: center;
  margin:0 auto;
  color: rgb(41,54,92);
  background: rgba(255,255,255,0);
  box-shadow: 0 13px 20px rgba(41,38,76,.05);
  border-radius: 50%;
  margin-bottom:2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2-wrapper .service-single-item:hover .service-image-wrapper{
  background: var(--gradient);
  transition: .4s;
}
.section-2-wrapper .service-single-item img{
  width:3rem ;
  height: 3rem;
}
.section-2-wrapper .service-single-item .service-name a{
  font-size: 20px;
  margin-bottom:20px;
  font-weight: 600;
  text-align: center;
  color:var(--bg-dark);
  text-align: none;
  display: block;
  text-decoration: none;
}
.section-2-wrapper .service-single-item .service-name a:hover{
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-2-wrapper .service-single-item .service-name p{
  font-size: 16px;
    color: #808080;
    line-height: 27px;
  text-align: center;
}


/* ===============SECTINO TWO WORK PROCESS START================== */


.make-business{
  padding:4rem 1rem;
  /* background-color: #F7F9FC; */
  position: relative;
}
.rocket-bg{
  position: absolute;
  top:0;
  left:0;
}
.rocket{
  margin-left:4rem;
  margin-top:2.5rem;
}
.make-business-details{
  padding-right:1.4rem;
}
.make-business-details h2{
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 700;
  font-family: var(--heading-font);
}
.make-business-details p{
  font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.8;
    color:#57647C;
}
.compatative-sign-wrapper{
  padding:4px;
  padding-left:0;
}
.make-business-details .row{
  margin-top:1.5rem;
}
.compatative-sign-wrapper .compatative-sign{
  width:1.5rem;height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient);
  border-radius: 4px;
  margin-right:10px
}
.compatative-sign-wrapper .compatative-sign svg{
  color:#fff;
  font-size: 16px;
}
.align-center {
  align-items: center;
}

.home-page-service-section{
  padding-top:3rem;
  padding-bottom: 3rem;
  background-image: url('./assets/ice_age.png');
  background-position: center center;
}
.services-section-wrapper h1{
  font-size: 2rem;
}
.services-section-wrapper .hr-icon{
  height: 5px;
    width: 85px;
    background: var(--primary-blue);
    border-radius: 2px;
    position: relative;
    margin-left: 20px;
    left: 0;
    display: inline-block;
    line-height: 32px;
    opacity: 1;
    position: relative;
}
.services-section-wrapper .hr-icon::before{
  content: "";
    position: absolute;
    left: -20px;
    top: 0;
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-blue);
    box-shadow: 9px 0 0 0 var(--primary-blue), 18px 0 0 0 var(--primary-blue);
}
.services-section-wrapper p{
  font-size: 18px;
  font-weight: 500;
  font-family: var(--primary-font);
  margin-top:1rem;
  margin-bottom:1.3rem;
}
.section-one-main-part{
  margin-top:4rem;
}
.secrvice-toggle-wrapper{
  border-bottom: 1px solid rgb(148, 163, 184,.3);
}
.secrvice-toggle-wrapper h4{
  font-size: 16px;
  margin:0;
  padding:.5rem 0;
}
.secrvice-toggle-wrapper .d-flex{
  justify-content: space-between;
}
.secrvice-toggle-wrapper .toggle-title, .secrvice-toggle-wrapper p{
  padding:.4rem .8rem;
  margin:0;
}
.toggle-active{
  background-color: #ddd;
  border-radius: 3px;
}
.service-section-img img{
  /* margin-top:-4rem; */
}



.our-client{
  padding-top:3rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color:var(--bg-dark);
  padding-bottom:6rem;
}
.slick-dots li button{
  background-color:#fff;
  border-radius: 50%;
}
.carousel-single-item{
  padding:.5rem;
}
.swiper-slide{
  height:auto!important;
}
.swiper-slide img{
  height:12rem;
}
.project-title{
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-family: var(--heading-font);
  font-size: 22px;
  background: var(--gradient);
  color:#fff;
  margin-top:1rem;
  padding:.5rem 1rem;
}
.all-project-button-wrapper{
  text-align: center;
}
.all-project-button-wrapper .view-project{
  padding:.7rem 2.5rem;
  font-size: 16px;
  color:#fff;
  background: var(--primary-color);
  display: inline-block;
  margin-top:3rem;
  border-radius: 3rem;
  text-decoration: none;
  background: var(--gradient);
}
.all-project-button-wrapper .view-project:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.portfolio-section-wrapper{
  margin-top:2rem;
  padding-top:3rem;
}
.portfolio-single-item-wrapper{
  padding:.2rem;
  margin-bottom:1.5rem;
}
.portfolio-item-name{
  background: var(--gradient);
  padding:.5rem;
  text-align: center;
}
.portfolio-item-name a{
  font-size: 1rem;
  font-weight: 600;
  color:#fff;
  text-transform: uppercase;
  text-decoration: none;
}
.portfolio-img-wrapper{
  position: relative;
}
.portfolio-link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  text-align: center;
  transform: scale(0,0);
  -webkit-transform: scale(0,0);
  -moz-transform: scale(0,0);
  -ms-transform: scale(0,0);
  -o-transform: scale(0,0);
  transition: all 500ms ease;
  background: linear-gradient(115deg,rgb(252, 14, 169,.6) .9554140127388535%,rgb(255, 221, 10, .6) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-link a{
  width:2.5rem;
  height: 2.5rem;
  background-color: #f6f4f4;
  display: inline-block;
  border-radius: 4px;
}
.portfolio-link img{
  width:1.5rem ;
  height:1.5rem;
  margin-top:.5rem;
}
.app-portfolio .portfolio-img-wrapper .app-portfolio-img{
  min-width:100%;
  height:30rem;
}
.portfolio-img-wrapper:hover .portfolio-link{
  transform: scale(1,1);
  -webkit-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -ms-transform: scale(1,1);
  -o-transform: scale(1,1);
  transition: all 500ms ease;
}
.portfolio-button a{
  display: inline-block;
  padding:.7rem 2.4rem;
  background-color: var(--primary-color);
  color:#fff;
  font-weight: 600;
  border-radius: 3rem;
  text-decoration: none;
  margin-top:1rem;
}

app-porofolio-single-item .portfolio-img-wrapper:hover .portfolio-link{
  transform: none;
  transition: all 500ms ease;
}
.app-porofolio-single-item{
  height: 28rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.app-porofolio-single-item::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #ddd;
}

.app-porofolio-single-item::-webkit-scrollbar {
  width: 7px;
}

.app-porofolio-single-item::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* box-shadow: inset 0 0 6px rgb(236, 239, 244); */
  /* background-color: var(--bg-dark); */
  background: linear-gradient(115deg,#FC0EA9 .9554140127388535%,#FFDD0A 100%);
  
}






/* ================FOOTER PART START ================== */

.footer-wrapper{
  
  background-image: url('./assets/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding:0;
}
.footer-bg-color{
  background-color: rgba(4, 29, 65, 0.8);
  margin-top:7rem;
  padding-top:7rem;
}
.footer-contact-single-item{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-color: #fff;
  padding:1.5rem 2rem;
  border-left: 6px solid var(--primary-blue);
  padding-left:3rem;
  margin-top:-10rem;
  
}
.footer-contact-icon{
  display: inline-block;
  background-color: #1990b86a;
  margin-right:1rem;
  width:2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-top:8px
}
.footer-contact img{
  width:1.3rem;
}

.footer-contact-single-item p{
  margin:0;
  font-weight: 500;
}

.footer-main-section .footer-logo{
  width:15rem;
  
}
.footer-main-section .footer-left-part p{
  color:#fff;
  font-size: 17px;
  padding-right: 2rem;
  text-align: justify;
  margin-top:1.5rem;
}
.footer-main-section h5{
  font-size: 1.7rem;
  color:#fff;
  margin-bottom:1.5rem;
}
.footer-section{
  padding-left:1.5rem;
}
.footer-section ul{
  margin: 0;
  padding-left:0;
}
.footer-section ul li{
  list-style: none;
  border: 1px solid #ddd;
  margin-bottom:.4rem;
  padding:.4rem 1rem;
  border-left:5px solid var(--primary-blue)
}
.footer-section ul li:hover{
  background-color: #1990b86c;
}
.footer-section ul li a{
  font-size: .8rem;
  color:#fff;
  text-decoration: none;
}


.social-link-wrapper img{
  width:2.4rem;
  height: 2.4rem;
  margin-right:.5rem;
}

/* =====================ABOUT US PAGE CSS ==================== */
.about-us-header-wrapper, .portfolio-header{
  background-image: url('./assets/bg-img.jpg');
  color:#fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:0;
}
.about-details .row{
  align-items: center;
}
.about-bg-color{
  background: linear-gradient(115deg,rgb(4, 173, 244, .7) .9554140127388535%,rgb(255, 222, 10, .7), rgb(237, 21, 29, .7) 140%) ;
}
.about-header-wrapper{
  padding:6rem 0;
}
.about-header-wrapper p{
  max-width: 500px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.about-page-about-section {
  background: url('./assets/about-us-bg.png') repeat;
}
.about-details{
  padding:1.5rem;
  padding-top:4rem;
}
.about-details h3{
  font-weight: bold !important;
    margin-top: 1.3rem;
    line-height: inherit;
    font-size: 21px;
    font-family: var(--primary-font);
}
.about-page-services-wrapper {
  padding:4rem 0;
}
.about-page-services-wrapper .about-page-single-service {
  padding:1rem;
  background-color: #fff;
  text-align: center;
  border: 1px solid #ddd;
  min-height: 217px;
  border-bottom:4px solid var(--primary-blue)
}
.about-page-services-wrapper .about-page-single-service h5{
  font-size: 1.5rem;
  font-weight: 700;
}
.about-page-services-wrapper .about-page-single-service p{
  margin-top:1rem;
  font-weight: 500;
}
.about-page-our-client .our-client{
  background-image: none;
  color:#171923
}


/* ===================SERVICS PARE START ============================ */
.service-page-header{
  background-image: url('./assets/bg-img.jpg');
  color:#fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:0;
}
.service-page-header .about-header-wrapper p{
  max-width:100%
}
.school-management-wrapper{
  padding:5rem 1rem;
  padding-top:8rem;
}
.school-management-wrapper .section-title h1, .school-management-wrapper .section-title h1 span{
  font-family: var(--heading-font);
}
.single-packge-wrapper .card{
background-color: var(--box-bg);
border: var(--border);
}
.card-header{
padding:1.8rem 1rem;
}
.card-header .card-title{
font-size: 1.6rem;
font-weight: 600;
}
.card-header .card-text{
font-size: 1rem;
font-weight: 500;
}
.card-header .d-flex{
justify-content: center;
}
.card-header .d-flex div:last-child{
margin-top:5px;
}
.card-body{
padding:2.5rem 1rem;
}
.card-body ul{
padding-left:0
}
.card-body li{
list-style-type: none;
margin-left:0;
padding:.4rem ;
display: flex;
align-items: center;
}
.card-body li svg{
font-size: 1.2rem;
color:#fff;
}
.school-management-wrapper .section-title{
  margin-bottom:2rem;
  padding-bottom:2rem;
}
.school-management-wrapper .section-title::after{
  content: '';
  position: absolute;
  width:7rem;
  height: 4px;
  background-color: var(--primary-color);
  left:calc(50% - 3.5rem)
}
.card-header{
  background-color: #3710aa54;
}
.card-body{
  background-color:#3710aa29 ;
}
.check, .cross{
  padding:4px;
  margin-right:8px;
  width:2rem;
  height: 2rem;
  background: linear-gradient(115deg,#fc6fd9 .9554140127388535%,rgb(15,197,239) 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cross{
  background: linear-gradient(115deg,#FC0EA9 .9554140127388535%,#FFDD0A 100%);
}




@media only screen and (min-width:767px) and (max-width:992px){
.card-header, .card-body{
  padding:1.2rem .5rem;
}
.school-management-wrapper{
  padding:4rem 1rem;
}
.card-header .card-title{
  font-size: 1.3rem;
}
.school-management-wrapper .section-title h1 span{
  margin-top:1.5rem;
  display: inline-block;
}
.card-text{
  font-size: .85rem!important;
}
.card-body li{
  font-size: .8rem;
  padding:2px;
}
.card-body li svg{
  margin-right:5px;
}
}
@media only screen and (min-width:576px) and (max-width:767px){
.card-header, .card-body{
  padding:1.2rem .5rem;
}
.card{
  margin-bottom: 2rem;
}
.modal-dialog{
  padding:0 4rem;
}
.school-management-wrapper{
  padding:4rem 1rem;
}
.card-header .card-title{
  font-size: 1.3rem;
}
.school-management-wrapper .section-title h1 span{
  margin-top:1.5rem;
  display: inline-block;
}
.card-text{
  font-size: .85rem!important;
}
.card-body li{
  font-size: .8rem;
  padding:2px;
}
.card-body li svg{
  margin-right:5px;
}
}
@media only screen and (min-width:400px) and (max-width:576px){
.card-header, .card-body{
  padding:1.2rem .5rem;
}
.card{
  margin-bottom: 2rem;
}
.modal-dialog{
  padding:0 2rem;
}
.school-management-wrapper{
  padding:4rem 1rem;
}
.card-header .card-title{
  font-size: 1.3rem;
}
.school-management-wrapper .section-title h1 span{
  margin-top:1.5rem;
  display: inline-block;
}
.card-text{
  font-size: .85rem!important;
}
.card-body li{
  font-size: .8rem;
  padding:2px;
}
.card-body li svg{
  margin-right:5px;
}
}
@media only screen and (max-width:400px){
.card-header, .card-body{
  padding:1.2rem .5rem;
}
.card{
  margin-bottom: 2rem;
}
.modal-dialog{
  padding:0 .5rem;
}
.school-management-wrapper{
  padding:4rem 1rem;
}
.card-header .card-title{
  font-size: 1.3rem;
}
.school-management-wrapper .section-title h1 span{
  margin-top:1.5rem;
  display: inline-block;
}
.card-text{
  font-size: .85rem!important;
}
.card-body li{
  font-size: .8rem;
  padding:2px;
}
.card-body li svg{
  margin-right:5px;
}

}
/* ========================PORTFOLIO PAGE CSS ======================= */
.portfolio-header{
  background-image: url('./assets/bg-img.jpg');
  color:#fff;
}


