.wrapper{
  transform: translate(-19%, -22%);
  width:200px;
  margin:3rem auto;
  margin-bottom:6rem;
}


.wrapper a{
  display: block;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #1990B8;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #1990B8;
  transition: all .35s;
  border-radius: 1rem 0 1rem 0;
  width: 200px;
  border: 3px solid #1990B8;
  background: transparent;
  color: #1990B8;
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #1990B8;
  transition: all .35s;
}

.wrapper a:hover{
  width: 250px;
  border: 3px solid #1990B8;
  background-color: #1990B8;
  color:#fff;
}

.wrapper a + .icon{
  border: 3px solid #1990B8;
  right: -25%;
}
.wrapper a:hover + .icon{
  border: none;
  right: -25%;
  transition: 0;
}